[Unit]
Description=SpiderQuad
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/usr/bin/spiderquad
[Install]
WantedBy=multi-user.target